:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.container {
  width: 600px;
  height: 300px;
  border: solid black 1px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 5px #888888;
  place-content: center;
  text-align: center;
  cursor: pointer;
}

.easy {
  background-color: rgba(76, 175, 80, 0.5); 
}

.medium {
  background-color: rgba(255, 152, 0, 0.5);
}

.hard {
  background-color: rgba(244, 67, 54, 0.5);
}

.container:active {
  transform: scale(0.95);
}

button {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.5); /* Blue button */
  border: solid black 1px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #3c66c0; /* Green border */
  border-radius: 4px; /* Rounded corners */
  font-size: 16px;
  background-color: #f8f8f8; /* Light grey background */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  /* Add a subtle shadow for depth */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus {
  border-color: #3c66c0; /* Darker green on focus */
  outline: none;
  /* Add a shadow when the input is focused */
  box-shadow: 0 0 8px rgba(60, 93, 184, 0.8); /* Green glow */
}